<!--prettier-ignore-->
{% extends "master.html" %} 
{% load static %}

{% block content %}
<div class="min-vw-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="card w-100" style="max-width: 500px">
        <div class="card-body">
            <div class="d-flex flex-column justify-content-start align-items-start mb-4">
                <h4 class="card-title">Sign in</h4>
                <p class="card-subtitle">or create an account</p>
            </div>
            <form class="d-flex flex-column justify-content-start align-items-center gap-2">
                <input
                    type="text"
                    class="form-control"
                    id="email-input"
                    aria-describedby="emailHelp"
                    placeholder="Email"
                />
                <input
                    type="password"
                    class="form-control"
                    id="password-input"
                    aria-describedby="passwordHelp"
                    placeholder="Password"
                />
                <a href="#" class="text-primary-emphasis">I forgot my password</a>
            </form>
        </div>
        <div class="card-footer d-flex flex-row justify-content-end align-items-center gap-2">
            <button class="btn btn-primary">Register</button>
            <button class="btn btn-primary">Sign in</button>
        </div>
    </div>
</div>
{% endblock %}
