<!--prettier-ignore-->
{% extends "master.html" %} 
{% load static %}

<!--prettier-ignore-->
{% block scripts %}
<script type="text/javascript">
    function validateEmail(email) {
        let re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

    function stoppedTyping() {
        if (
            document.getElementById("email-input").value.length > 0 &&
            document.getElementById("password-input").value.length > 0 &&
            validateEmail(document.getElementById("email-input").value)
        ) {
            document.getElementById("register-btn").disabled = false;
            document.getElementById("login-btn").disabled = false;
        } else {
            document.getElementById("register-btn").disabled = true;
            document.getElementById("login-btn").disabled = true;
        }
    }

    function submitForm() {
        document.getElementById("login").submit();
    }
</script>
{% endblock %} {% block content %}
<div class="min-vw-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="card w-100 d-flex flex-column justify-content-start align-items-center gap-2" style="max-width: 500px">
        <form method="post" id="login" class="m-0" style="min-width: 100%; min-height: 100">
            <div class="card-body">
                <div class="d-flex flex-column justify-content-start align-items-start mb-4">
                    <h4 class="card-title">Sign in</h4>
                    <p class="card-subtitle">or create an account</p>
                </div>

                {% if user_taken %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">Email already in use!</div>
                {% else %} {% if submitted %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    Invalid username/password. Have you registered?
                </div>
                {% endif %} {% endif %}

                <div class="d-flex flex-column justify-content-start align-items-center gap-2">
                    {% csrf_token %}
                    <input
                        type="text"
                        class="form-control"
                        id="email-input"
                        name="email-input"
                        aria-describedby="emailHelp"
                        placeholder="Email"
                        onkeyup="stoppedTyping()"
                    />
                    <input
                        type="password"
                        class="form-control"
                        id="password-input"
                        name="password-input"
                        aria-describedby="passwordHelp"
                        placeholder="Password"
                        onkeyup="stoppedTyping()"
                    />
                    <a href="#" class="text-primary-emphasis">I forgot my password</a>
                </div>
            </div>
            <div class="card-footer d-flex flex-row justify-content-end align-items-center gap-2">
                <button
                    id="register-btn"
                    type="button"
                    name="action"
                    value="register"
                    onclick="submitForm()"
                    class="btn btn-primary"
                >
                    Register
                </button>
                <button id="login-btn" type="submit" name="action" value="sign-in" class="btn btn-primary">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
