<!--prettier-ignore-->
{% extends "master.html" %} 
{% load static %}

<!--prettier-ignore-->
{% block title %} 
a creative title 
{% endblock %}

<!--prettier-ignore-->
{% block scripts %}
<script src="{% static 'index.js' %}"></script>
<script src="{% static 'autocomplete.js' %}"></script>
{% endblock %}

<!--prettier-ignore-->
{% block content %}
<div class="min-vw-100 min-vh-100 d-flex flex-column align-items-center justify-content-start">
    <header
        class="position-relative d-flex flex-row w-100 align-items-center justify-content-between m-3 px-4 py-3 z-3 bg-dark-subtle bg-gradient shadow rounded-pill"
        style="max-width: 1080px"
    >
        <p class="text-center m-0 h3">ATL Food Finder</p>

        <div class="position-absolute w-25 h-auto" style="left: 50%; transform: translate(-50%, 0%)">
            <input id="search-input" type="text" class="form-control" placeholder="Search for a restaurant" />
            <ul id="search-results" class="position-absolute w-100 list-group"></ul>
        </div>

        <div class="d-flex flex-row align-items-center justify-content-center">
            {% comment %} <input type="text" class="form-control" placeholder="Search for a restaurant" />
            {% endcomment %}
            <div class="btn-group" role="group">
                {% comment %}
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Hello, name
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Account</a></li>
                    <li><a class="dropdown-item text-danger-emphasis" href="#">Log out</a></li>
                </ul>
                {% endcomment %}
                <a href="{% url 'login' %}" class="btn">Log in</a>
            </div>
        </div>
    </header>

    <div
        id="map"
        class="d-flex w-100 h-100 position-absolute flex-column align-items-center justify-content-center"
    ></div>
</div>
{% endblock %}
