{% extends "master.html" %}
{% load static %}

{% block scripts %}
<script type="text/javascript">
    function stoppedTyping() {
        if (
            document.getElementById("email-input").value.length > 0 &&
            document.getElementById("password-input").value.length > 0
        ) {
            document.getElementById("reset-btn").disabled = false;
        } else {
            document.getElementById("reset-btn").disabled = true;
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="min-vw-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
    <div class="card w-100 d-flex flex-column justify-content-start align-items-center gap-2" style="max-width: 500px">
        <form method="post" id="password-reset" class="m-0" style="min-width: 100%; min-height: 100">
            <div class="card-body">
                <div class="d-flex flex-column justify-content-start align-items-start mb-4">
                    <h4 class="card-title">Reset Password</h4>
                    <p class="card-subtitle">Enter your registered email and new password</p>
                </div>

                {% if email_invalid %}
                <div class="alert alert-danger d-flex align-items-center" role="alert">Invalid email address</div>
                {% endif %}

                {% if same_as_old_password %}
                <div class="alert alert-danger d-flex align-items-center" role="alert"> New password cannot be the same as the old password</div>
                {% endif %}

                <div class="d-flex flex-column justify-content-start align-items-center gap-2">
                    {% csrf_token %}
                    <input
                        type="text"
                        class="form-control"
                        id="email-input"
                        name="email-input"
                        placeholder="Email"
                        onkeyup="stoppedTyping()"
                    />
                    <input
                        type="password"
                        class="form-control"
                        id="password-input"
                        name="password-input"
                        placeholder="New Password"
                        onkeyup="stoppedTyping()"
                    />
                </div>
            </div>
            <div class="card-footer d-flex flex-row justify-content-end align-items-center gap-2">
                <a href="{% url 'login' %}" class="btn btn-secondary">
                    Back to Login
                </a>                
                <button
                    id="reset-btn"
                    type="submit"
                    name="action"
                    class="btn btn-primary"
                    disabled
                >
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
